@import "../../themes/generated/variables.base.scss";

.box-item-padded {
  padding: 30px;
  margin: 5px;
  border-radius: $base-border-radius;
}

.box-item-blue {
  background-color: $base-accent;
}

.box-hero {
  padding: 5px;
  margin: 5px;
  border-radius: $base-border-radius;
  text-align: center;

  h3 {
    padding: 0;
  }

  h2 {
    padding: 0;
  }
}

.red {
  background-color: #f5564a;
}

.blue {
  background-color: #1db2f5;
}

.green {
  background-color: #97c95c;
}

.yellow {
  background-color: #ffc720;
}

.orange {
  background-color: #ff9800;
}
